div
	form(action="/search", method="get", class="search-form", role="search")
		input(name="q", type="search", id="search-field", placeholder="Search store...", value="{{ search.terms | escape }}")
		input(type="submit", id="search-submit", value="Search")

	| {% if search.performed %}

	|	{% paginate search.results by 10 %}


	|	{% if search.results_count == 0 %}
	p
		| Your search for "{{ search.terms }}" did not yield any results
	|	{% else %}
	ol
		| {% for item in search.results %}
		li
			h3 {{ item.title | link_to: item.url }}
			| {% if item.vendor %}
			div
				a(href="{{ item.url }}", title="{{ item.title | escape }}")
					| {{ item | img_url: 'small' | img_tag: item.featured_image.alt }}

			| {% endif %}
			span
				| {{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}

		| {% endfor %}
	| {% endif %}

	| {% if paginate.pages > 1 %}
	div
		| {{ paginate | default_pagination }}

	| {% endif %}

	|	{% endpaginate %}

	| {% endif %}